@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Playpen+Sans&display=swap');

.layout {
    margin: 0;
}

.header {
    display: flex;    
    background-color: #50667a;
    justify-content: start;
    align-items: center;        
    padding: 10px;
    top: 0;
    position: static;
}

.content {
    text-align: justify;
    min-height: max-content;
    padding: 20px;    
    position: absolute; /* Ensure children and background image are positioned correctly */
    z-index: 1; /* Ensure content is in front of the background image */
}

.footer {   
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #50667a;
    color: #ffffff;
    font-family: 'Playpen Sans', cursive;
    font-size: 14px;
}

/* Define the content background color */
.content_bg {
    background-color: #0060fc7c;
    overflow: hidden;
    position: static;
    object-fit: fill; /* Ensure background image container is positioned correctly */
}

/* Container for the background image */
.background_image_container {
    position: sticky;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the image stays behind other content */
}

/* Style for the background image */
.background_image {
    background-size: 1000px;
    object-fit: fill; /* Cover the entire container */
}
